.search  {
  left: 0;
  position: absolute;
  padding-left: 42px;
}

.icon-search {
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 3%;
}
.tombol-tambah {
  margin-top: 17%;
}
.icon-person {
  margin-top: 5%;
  margin-left: 5%;
  position: absolute;
  top: 10%;
  left: 15%;
}

div.notification {
  position: absolute;
  right: 0;
  top: 0;
}

.icon-input {
  position: absolute;
  top: 5px;
  left: 5px;
}
.input-icon {
  padding-left: 35px;
}