.search  {
  margin-top: -18%;
  margin-left: 81%;
  position: relative;
  padding-left: 42px;
}

.icon-search {
  position: absolute;
  top: 6.4rem;
  left: 17.3rem; 
  z-index: 2;
}

div.notification {
  position: absolute;
  right: 0;
  top: 0;
}

.icon-input {
  position: absolute;
  top: 5px;
  left: 5px;
}
.input-icon {
  padding-left: 35px;
}